.btn{
    margin: .5rem 0 !important;
}
.space-hr{
    margin: 0 .5rem !important;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.updated_ts{
    margin-top: 1rem;
}
.delete-wrap{
    display: flex;
    align-items: center;
}